@font-face {
  font-family: "HurmeGeometricSans3";
  src: local("HurmeGeometricSans3"), url("../fonts/HurmeGeometricSans3-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "HurmeGeometricSans3";
  src: local("HurmeGeometricSans3"), url("../fonts/HurmeGeometricSans3-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "HurmeGeometricSans3";
  src: local("HurmeGeometricSans3"), url("../fonts/HurmeGeometricSans3-Black.woff") format("woff");
  font-weight: 900;
}
@font-face {
  font-family: "HurmeGeometricSans3";
  src: local("HurmeGeometricSans3"), url("../fonts/HurmeGeometricSans3-Light.woff2") format("woff2");
  font-weight: 300;
}
#es-rc #es-rc-content {
  font-family: "HurmeGeometricSans3", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #012349;
  background-color: #faf8f8;
  max-width: 990px;
  margin: auto;
  container: es-rc-content/inline-size;
  overflow: hidden;
  font-variant-ligatures: none;
}
#es-rc #es-rc-content ::-moz-selection {
  background-color: #012349;
  color: #faf8f8;
}
#es-rc #es-rc-content ::selection {
  background-color: #012349;
  color: #faf8f8;
}
#es-rc #es-rc-content * {
  box-sizing: border-box;
}
#es-rc #es-rc-content p {
  margin: 0;
}
#es-rc #es-rc-content img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content button {
  display: block;
}
#es-rc #es-rc-content .es-section {
  padding: 32px;
}
#es-rc #es-rc-content .es-tm {
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
  margin-top: 5px;
}
#es-rc #es-rc-content .es-tm-headline {
  display: inline-block;
  font-size: 18px;
  vertical-align: top;
  margin-top: 5px;
}
@container es-rc-content (min-width: 800px) {
  #es-rc #es-rc-content .es-tm-headline {
    font-size: 32px;
  }
}
#es-rc #es-rc-content .es-section-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin-block: 16px;
  text-transform: uppercase;
}
@container es-rc-content (min-width: 660px) {
  #es-rc #es-rc-content .es-section-title {
    font-size: 48px;
  }
}
#es-rc #es-rc-content .es-desktop {
  position: relative;
}
@container es-rc-content (min-width: 660px) {
  #es-rc #es-rc-content .es-desktop {
    display: block;
  }
}
#es-rc #es-rc-content .es-pre-kv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #012349;
  padding: 0;
  gap: 30px;
}
#es-rc #es-rc-content .es-pre-kv__video {
  width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-pre-kv__right {
  padding-bottom: 30px;
}
#es-rc #es-rc-content .es-pre-kv__title {
  text-align: center;
  font-weight: 700;
  color: #ffffff;
}
#es-rc #es-rc-content .es-kv {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #faf8f8;
  padding: 0;
  overflow: hidden;
  position: relative;
}
#es-rc #es-rc-content .es-kv__top {
  padding: 32px;
}
#es-rc #es-rc-content .es-kv__logo {
  max-width: 300px;
  margin-bottom: 10px;
}
#es-rc #es-rc-content .es-kv__title {
  text-align: center;
}
#es-rc #es-rc-content .es-kv__title--headline {
  margin-bottom: 10px;
  margin-top: 25px;
  font-weight: 700;
  font-size: 30px;
}
#es-rc #es-rc-content .es-kv__title--headline span {
  display: block;
  color: #f6c641;
}
#es-rc #es-rc-content .es-kv__title--bottomline {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 16px;
}
#es-rc #es-rc-content .es-kv__title-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 0 auto;
  color: #012349;
  background: #feea94;
  font-size: 16px;
  font-weight: 700;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  text-align: center;
}
#es-rc #es-rc-content .es-kv__title-circle span {
  font-size: 35px;
  font-weight: 700;
}
#es-rc #es-rc-content .es-kv__title-circle--desktop {
  display: none;
}
#es-rc #es-rc-content .es-kv__description-title {
  margin-bottom: 15px;
  font-weight: 700;
  text-align: center;
  font-size: 25px;
}
#es-rc #es-rc-content .es-kv__packshot {
  position: relative;
}
#es-rc #es-rc-content .es-kv__packshot__img {
  max-width: 400px;
}
#es-rc #es-rc-content .es-kv__packshot__img--desktop {
  display: none;
}
#es-rc #es-rc-content .es-kv__description {
  margin-block-start: 30px;
  margin-block-end: 30px;
}
#es-rc #es-rc-content .es-kv__description__text {
  display: block;
  max-width: 85%;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
}
@container es-rc-content (min-width: 440px) {
  #es-rc #es-rc-content .es-kv__title--bottomline {
    font-size: 18px;
  }
}
@container es-rc-content (min-width: 550px) {
  #es-rc #es-rc-content .es-kv__title--headline {
    font-size: 45px;
  }
  #es-rc #es-rc-content .es-kv__title--bottomline {
    font-size: 18px;
  }
  #es-rc #es-rc-content .es-kv__description__text {
    font-size: 18px;
    text-align: center;
  }
}
@container es-rc-content (min-width: 660px) {
  #es-rc #es-rc-content .es-kv {
    justify-content: space-between;
    padding: 40px 0px;
    padding-bottom: 0;
    overflow: hidden;
  }
}
@container es-rc-content (min-width: 768px) {
  #es-rc #es-rc-content .es-kv__top {
    padding-bottom: 70px;
  }
  #es-rc #es-rc-content .es-kv__packshot {
    position: relative;
  }
  #es-rc #es-rc-content .es-kv__packshot__img {
    max-height: 600px;
  }
}
@container es-rc-content (min-width: 880px) {
  #es-rc #es-rc-content .es-kv__logo {
    max-width: 250px;
    margin-bottom: 16px;
  }
  #es-rc #es-rc-content .es-kv__title--headline {
    margin-bottom: 10px;
  }
  #es-rc #es-rc-content .es-kv__title--bottomline {
    font-size: 18px;
  }
  #es-rc #es-rc-content .es-kv__packshot {
    margin-right: 0;
  }
  #es-rc #es-rc-content .es-kv__packshot__img {
    max-height: 650px;
  }
  #es-rc #es-rc-content .es-kv__description__text {
    max-width: 93%;
    font-size: 20px;
    text-align: center;
  }
}
#es-rc #es-rc-content .es-design {
  padding: 30px 15px;
  padding-bottom: 0;
  background: #faf8f8;
  position: relative;
  z-index: 0;
}
#es-rc #es-rc-content .es-design__title {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
#es-rc #es-rc-content .es-design__subtitle {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;
  font-size: 16px;
}
#es-rc #es-rc-content .es-design__container {
  margin-top: -1px;
  background: #faf8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
#es-rc #es-rc-content .es-design__container--desktop {
  display: none;
}
#es-rc #es-rc-content .es-design__single {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  max-width: 300px;
}
#es-rc #es-rc-content .es-design__single-img {
  max-width: 125px;
  width: auto;
}
#es-rc #es-rc-content .es-design__single-subtitle {
  font-weight: 700;
  text-align: center;
  font-size: 16px;
}
#es-rc #es-rc-content .es-design__description-img {
  margin-bottom: 25px;
}
#es-rc #es-rc-content .es-design__description-img--desktop {
  display: none;
}
#es-rc #es-rc-content .es-design__new {
  padding-top: 50px;
}
#es-rc #es-rc-content .es-design__new-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
#es-rc #es-rc-content .es-design__new-description {
  margin-bottom: 25px;
  font-size: 16px;
  text-align: center;
}
#es-rc #es-rc-content .es-slider .swiper-button-prev:after,
#es-rc #es-rc-content .es-slider .swiper-rtl .swiper-button-next:after,
#es-rc #es-rc-content .es-slider .swiper-button-next:after,
#es-rc #es-rc-content .es-slider .swiper-rtl .swiper-button-next:after {
  content: "";
}
#es-rc #es-rc-content .es-slider .swiper-button-next,
#es-rc #es-rc-content .es-slider .swiper-button-prev {
  width: unset;
  height: unset;
  position: static;
  justify-content: unset;
  display: unset;
}
#es-rc #es-rc-content .es-slider {
  margin-block: 32px;
  margin-bottom: 0;
  margin-top: 0;
  /* wrapper ze slajdami */
}
#es-rc #es-rc-content .es-slider .es-swiper {
  position: relative;
  width: 100%;
}
#es-rc #es-rc-content .es-slider .es-swiper-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}
#es-rc #es-rc-content .es-slider {
  /* slajdy */
}
#es-rc #es-rc-content .es-slider__slide {
  flex: 0 0 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 32px;
}
#es-rc #es-rc-content .es-slider__slide--1 {
  color: #012349;
  z-index: 0;
}
@container es-rc-content (min-width: 660px) {
  #es-rc #es-rc-content .es-slider__slide {
    gap: 35px;
    font-size: 24px;
  }
}
#es-rc #es-rc-content .es-steps {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background: linear-gradient(180deg, #faf8f8 35%, #012349 35%);
}
#es-rc #es-rc-content .es-steps__title {
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  color: #012349;
  background-color: #faf8f8;
}
#es-rc #es-rc-content .es-steps__steps__item__text {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}
#es-rc #es-rc-content .es-steps__steps__container ::-moz-selection {
  color: #012349;
}
#es-rc #es-rc-content .es-steps__steps__container ::selection {
  color: #012349;
}
#es-rc #es-rc-content .es-steps__steps__title {
  font-weight: 900;
  font-size: 32px;
}
#es-rc #es-rc-content .es-steps__steps__wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
#es-rc #es-rc-content .es-steps__steps__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 200px;
}
#es-rc #es-rc-content .es-steps__steps__item__image {
  margin-bottom: 30px;
  max-width: 225px;
}
@container es-rc-content (min-width: 660px) {
  #es-rc #es-rc-content .es-steps {
    background: linear-gradient(180deg, #faf8f8 50%, #012349 50%);
  }
  #es-rc #es-rc-content .es-steps__steps__title {
    font-size: 34px;
  }
  #es-rc #es-rc-content .es-steps__steps__wrapper {
    margin-bottom: 30px;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    -moz-column-gap: 40px;
    column-gap: 40px;
  }
  #es-rc #es-rc-content .es-steps__steps__item {
    max-width: 150px;
  }
}
#es-rc #es-rc-content .es-easy-mix {
  padding: 0px 15px;
}
#es-rc #es-rc-content .es-easy-mix__title {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
#es-rc #es-rc-content .es-easy-mix__img {
  margin-bottom: 15px;
}
#es-rc #es-rc-content .es-easy-mix__description {
  font-size: 16px;
  text-align: left;
}
#es-rc #es-rc-content .es-comfort {
  padding: 30px 15px;
}
#es-rc #es-rc-content .es-comfort__left {
  margin-bottom: 25px;
}
#es-rc #es-rc-content .es-comfort__left-title {
  margin-bottom: 35px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
#es-rc #es-rc-content .es-comfort__left-description {
  font-size: 16px;
}
#es-rc #es-rc-content .es-style__img {
  max-width: 60%;
  margin-left: 10px;
}
#es-rc #es-rc-content .es-style__left {
  max-width: 310px;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-style__inner {
  max-width: 350px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;
}
#es-rc #es-rc-content .es-style__wrapper {
  position: absolute;
  top: -20px;
  right: -106px;
}
#es-rc #es-rc-content .es-style__img-title-group {
  position: relative;
}
#es-rc #es-rc-content .es-style__title-img {
  margin-bottom: 25px;
  max-width: 30%;
}
#es-rc #es-rc-content .es-style__img-title {
  position: absolute;
  top: 55%;
  left: 52%;
  transform: translate(-44%, -43%);
  color: #002349;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  z-index: 1;
}
#es-rc #es-rc-content .es-style__img-description {
  max-width: 85%;
  margin: 0 auto;
  margin-bottom: 25px;
  font-size: 16px;
  text-align: center;
}
#es-rc #es-rc-content .es-style__img-description span {
  display: block;
  font-weight: 700;
  font-size: 25px;
}
#es-rc #es-rc-content .es-eco {
  padding: 30px 15px;
}
#es-rc #es-rc-content .es-eco__bottom-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
#es-rc #es-rc-content .es-eco__subtitle {
  font-size: 16px;
  text-align: center;
}
#es-rc #es-rc-content .es-cross__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#es-rc #es-rc-content .es-cross__single {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#es-rc #es-rc-content .es-cross__single--1 {
  color: #ffffff;
  background-color: #002349;
}
#es-rc #es-rc-content .es-cross__single--2 {
  background-color: #F6C641;
}
#es-rc #es-rc-content .es-cross__single--3 {
  color: #ffffff;
  background-color: #E25D5F;
}
#es-rc #es-rc-content .es-cross__single-title {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}
#es-rc #es-rc-content .es-cross__single-title--blue {
  color: #002349;
}
#es-rc #es-rc-content .es-cross__single-description {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}
#es-rc #es-rc-content .es-cross__single-description--blue {
  color: #002349;
}
#es-rc #es-rc-content .es-cross__img {
  max-width: 50%;
  margin-bottom: 30px;
  width: auto;
}
#es-rc #es-rc-content .es-footer {
  position: relative;
  overflow: hidden;
  padding: 30px 15px;
  background-position: center;
  min-height: 400px;
}
#es-rc #es-rc-content .es-footer__hashtag {
  margin-bottom: 30px;
}
#es-rc #es-rc-content .es-footer .es-section-title {
  margin-bottom: 20px;
  text-transform: none;
}
#es-rc #es-rc-content .es-footer__hashtag {
  padding-top: 20px;
  margin-top: 0;
  font-size: 20px;
  color: #ffffff;
  position: relative;
  z-index: 3;
}
#es-rc #es-rc-content .es-footer__hashtag--last {
  text-transform: none;
}
#es-rc #es-rc-content .es-footer__subtitle {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  position: relative;
  z-index: 3;
}
#es-rc #es-rc-content .es-footer__inner {
  margin-top: -50px;
}
#es-rc #es-rc-content .es-footer__inner::before {
  content: "";
  position: absolute;
  width: 140%;
  height: 400px;
  background-color: #002349;
  border-radius: 50%;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
}
#es-rc #es-rc-content .es-footer__logo-wrapper {
  background-color: #002349;
  padding-bottom: 10px;
}
@media screen and (min-width: 550px) {
  #es-rc #es-rc-content .es-style__img {
    max-width: 80%;
  }
  #es-rc #es-rc-content .es-style__wrapper {
    right: -155px;
  }
}
@media screen and (min-width: 600px) {
  #es-rc #es-rc-content .es-footer__inner::before {
    bottom: -25%;
  }
}
@media screen and (min-width: 676px) {
  #es-rc #es-rc-content .es-footer__inner::before {
    bottom: -25%;
  }
}
@media screen and (min-width: 768px) {
  #es-rc #es-rc-content .es-kv {
    padding-bottom: 100px;
  }
  #es-rc #es-rc-content .es-kv__top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding-left: 40px;
    padding-top: 0;
    padding-bottom: 70px;
  }
  #es-rc #es-rc-content .es-kv__logo {
    margin: 0;
    max-width: 215px;
    margin-bottom: 10px;
  }
  #es-rc #es-rc-content .es-kv__title {
    text-align: left;
    margin-top: 20px;
  }
  #es-rc #es-rc-content .es-kv .es-desktop {
    width: 100%;
  }
  #es-rc #es-rc-content .es-kv__description {
    margin-block: 30px;
    margin-block-start: 24px;
    width: 100%;
  }
  #es-rc #es-rc-content .es-kv__description__text {
    text-align: center;
  }
  #es-rc #es-rc-content .es-kv__packshot {
    align-items: end;
    position: relative;
    margin: 0 auto;
    margin-right: 0;
  }
  #es-rc #es-rc-content .es-kv__packshot__img {
    margin: 0;
    max-height: 520px;
    position: relative;
    z-index: 1;
  }
  #es-rc #es-rc-content .es-kv__title-circle--mobile {
    display: none;
  }
  #es-rc #es-rc-content .es-kv__packshot {
    position: absolute;
    top: -160px;
    right: -30.5%;
  }
  #es-rc #es-rc-content .es-kv__title-circle--desktop {
    display: block;
    position: absolute;
    padding-top: 30px;
    bottom: -9%;
    left: -11%;
    z-index: 3;
    width: 160px;
    height: 160px;
    font-size: 15px;
  }
  #es-rc #es-rc-content .es-kv__packshot__img {
    max-width: revert;
    max-height: 550px;
  }
  #es-rc #es-rc-content .es-kv__packshot__img--mobile {
    display: none;
  }
  #es-rc #es-rc-content .es-kv__packshot__img--desktop {
    display: block;
  }
  #es-rc #es-rc-content .es-pre-kv {
    flex-direction: row;
  }
  #es-rc #es-rc-content .es-pre-kv__left {
    width: 50%;
  }
  #es-rc #es-rc-content .es-pre-kv__title {
    font-size: 30px;
    padding-top: 25px;
    padding-left: 35px;
    text-align: left;
  }
  #es-rc #es-rc-content .es-kv {
    padding-bottom: 150px;
  }
  #es-rc #es-rc-content .es-kv__packshot {
    position: absolute;
    top: -190px;
    right: -30.5%;
  }
  #es-rc #es-rc-content .es-kv__title-circle {
    position: absolute;
    bottom: -2.4%;
    right: 82.3%;
    z-index: 3;
  }
  #es-rc #es-rc-content .es-kv__packshot__img {
    max-width: revert;
    max-height: 675px;
  }
  #es-rc #es-rc-content .es-kv__packshot__img--mobile {
    display: none;
  }
  #es-rc #es-rc-content .es-kv__packshot__img--desktop {
    display: block;
  }
  #es-rc #es-rc-content .es-design {
    background-color: #faf8f8;
    padding-right: 0;
    padding-left: 0;
  }
  #es-rc #es-rc-content .es-design__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
    position: relative;
    max-width: 750px;
    margin: 0 auto;
  }
  #es-rc #es-rc-content .es-design__title, #es-rc #es-rc-content .es-design__subtitle {
    padding-right: 15px;
    padding-left: 15px;
  }
  #es-rc #es-rc-content .es-design__subtitle {
    max-width: 92%;
  }
  #es-rc #es-rc-content .es-design__container {
    display: none;
  }
  #es-rc #es-rc-content .es-design__description-img--mobile {
    display: none;
  }
  #es-rc #es-rc-content .es-design__description-img--desktop {
    display: block;
  }
  #es-rc #es-rc-content .es-design__single-subtitle {
    font-size: 14px;
    text-align: right;
    position: absolute;
  }
  #es-rc #es-rc-content .es-design__single-subtitle--1 {
    top: 16%;
    left: 10%;
  }
  #es-rc #es-rc-content .es-design__single-subtitle--2 {
    top: 26%;
    right: 3%;
    text-align: left;
  }
  #es-rc #es-rc-content .es-design__single-subtitle--3 {
    top: 46%;
    left: 9%;
  }
  #es-rc #es-rc-content .es-design__single-subtitle--4 {
    top: 64%;
    right: -1%;
    text-align: left;
  }
  #es-rc #es-rc-content .es-design__single-subtitle--5 {
    top: 76%;
    left: 12%;
  }
  #es-rc #es-rc-content .es-design__description-img {
    order: 2;
    width: 470px;
  }
  #es-rc #es-rc-content .es-design__single {
    flex-direction: row;
  }
  #es-rc #es-rc-content .es-design__single-img {
    order: 2;
  }
  #es-rc #es-rc-content .es-design__container {
    margin-top: 20px;
    flex-direction: column;
    justify-content: space-around;
  }
  #es-rc #es-rc-content .es-design__container--desktop {
    display: flex;
    margin-top: -40px;
    row-gap: 60px;
  }
  #es-rc #es-rc-content .es-design__single {
    max-width: 230px;
  }
  #es-rc #es-rc-content .es-design__new {
    position: relative;
  }
  #es-rc #es-rc-content .es-design__new-wrapper {
    position: absolute;
    top: 40%;
    left: 5%;
    transform: translate(-5%, 0%);
    width: 38%;
  }
  #es-rc #es-rc-content .es-design__new-title {
    text-align: left;
  }
  #es-rc #es-rc-content .es-design__new-description {
    text-align: left;
  }
  #es-rc #es-rc-content .es-style__left {
    display: flex;
    flex-flow: row;
    max-width: 750px;
    margin-left: 0;
  }
  #es-rc #es-rc-content .es-style__inner {
    max-width: 67%;
    margin-left: -125px;
  }
  #es-rc #es-rc-content .es-style__img {
    max-width: 516px;
    z-index: 3;
    position: relative;
  }
  #es-rc #es-rc-content .es-style__img-description {
    max-width: 300px;
    margin-left: -25px;
    margin-bottom: 75px;
    align-self: flex-end;
    text-align: left;
  }
  #es-rc #es-rc-content .es-style__title-img {
    max-width: 60%;
  }
  #es-rc #es-rc-content .es-style__wrapper {
    top: 10%;
    right: -51.5%;
  }
  #es-rc #es-rc-content .es-style__img-title-group {
    margin-right: revert;
    margin-top: -25px;
  }
  #es-rc #es-rc-content .es-style__img-title {
    font-size: 28px;
  }
  #es-rc #es-rc-content .es-eco {
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
  }
  #es-rc #es-rc-content .es-eco__bottom-title {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
  }
  #es-rc #es-rc-content .es-slider {
    position: relative;
    z-index: 0;
  }
  #es-rc #es-rc-content .es-slider__slide--1 {
    position: relative;
  }
  #es-rc #es-rc-content .es-cross__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: unset;
    gap: 0;
  }
  #es-rc #es-rc-content .es-cross__single-title {
    min-height: 45px;
  }
  #es-rc #es-rc-content .es-cross__single-description {
    min-height: 175px;
  }
  #es-rc #es-rc-content .es-cross__single {
    max-width: 33.3%;
    padding-top: 40px;
    padding-bottom: 35px;
    row-gap: 5px;
  }
  #es-rc #es-rc-content .es-steps__steps__item__text {
    font-size: 16px;
  }
  #es-rc #es-rc-content .es-steps__steps__item {
    max-width: 200px;
  }
  #es-rc #es-rc-content .es-footer {
    background-image: url("../img/bottles-d.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #faf8f8;
    min-height: 575px;
    margin-top: 50px;
  }
  #es-rc #es-rc-content .es-footer__inner {
    margin-top: 315px;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  #es-rc #es-rc-content .es-footer__inner::before {
    display: none;
  }
  #es-rc #es-rc-content .es-footer__bottles {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  #es-rc #es-rc-content .es-kv {
    padding-bottom: 100px;
  }
  #es-rc #es-rc-content .es-kv__title--headline {
    margin-bottom: 50px;
    font-size: 50px;
  }
  #es-rc #es-rc-content .es-kv__title--bottomline {
    font-size: 20px;
  }
  #es-rc #es-rc-content .es-kv__packshot {
    right: -23.5%;
  }
  #es-rc #es-rc-content .es-kv__title-circle {
    bottom: -3%;
    right: revert;
    left: -8%;
    right: auto;
  }
  #es-rc #es-rc-content .es-design__container--desktop {
    row-gap: 88px;
  }
}
@media screen and (min-width: 998px) {
  #es-rc #es-rc-content .es-kv {
    position: relative;
    padding-bottom: 100px;
  }
  #es-rc #es-rc-content .es-kv__title--headline {
    margin-bottom: 50px;
    font-size: 60px;
  }
  #es-rc #es-rc-content .es-kv__title--bottomline {
    font-size: 25px;
  }
  #es-rc #es-rc-content .es-kv__logo {
    max-width: 290px;
  }
  #es-rc #es-rc-content .es-kv__title-circle {
    bottom: -1%;
    left: -7%;
    right: auto;
    z-index: 5;
  }
  #es-rc #es-rc-content .es-kv__packshot {
    position: absolute;
    top: -160px;
    right: -14.5%;
  }
  #es-rc #es-rc-content .es-kv__packshot__img {
    max-height: 730px;
  }
  #es-rc #es-rc-content .es-kv__packshot__img--mobile {
    display: none;
  }
  #es-rc #es-rc-content .es-kv__packshot__img--desktop {
    display: block;
  }
  #es-rc #es-rc-content .es-kv__title {
    text-align: left;
    margin-top: 10px;
    max-width: 400px;
  }
  #es-rc #es-rc-content .es-cross__single-description {
    min-height: 165px;
  }
  #es-rc #es-rc-content .es-cross__single-title {
    min-height: 35px;
  }
  #es-rc #es-rc-content .es-design__description-img {
    width: 595px;
  }
  #es-rc #es-rc-content .es-design__container--desktop {
    row-gap: 100px;
  }
  #es-rc #es-rc-content .es-design__single-subtitle {
    font-size: 19px;
    font-weight: 700;
  }
  #es-rc #es-rc-content .es-design__single-subtitle--1 {
    max-width: 230px;
    left: -3.3%;
    top: 15.6%;
  }
  #es-rc #es-rc-content .es-design__single-subtitle--2 {
    max-width: 230px;
    right: -9.6%;
  }
  #es-rc #es-rc-content .es-design__single-subtitle--3 {
    max-width: 255px;
    top: 45.9%;
    left: -0.7%;
  }
  #es-rc #es-rc-content .es-design__single-subtitle--4 {
    top: 64.1%;
    right: -14.8%;
    max-width: 255px;
  }
  #es-rc #es-rc-content .es-design__single-subtitle--5 {
    top: 76.9%;
    left: 1.2%;
  }
  #es-rc #es-rc-content .es-kv__description-title,
  #es-rc #es-rc-content .es-design__title,
  #es-rc #es-rc-content .es-steps__title,
  #es-rc #es-rc-content .es-eco__bottom-title,
  #es-rc #es-rc-content .es-footer__hashtag {
    font-size: 28px;
  }
  #es-rc #es-rc-content .es-eco__subtitle {
    margin-bottom: 30px;
  }
  #es-rc #es-rc-content .es-steps__steps__item {
    max-width: 285px;
  }
  #es-rc #es-rc-content .es-easy-mix__title {
    font-size: 29px;
  }
  #es-rc #es-rc-content .es-easy-mix__container {
    display: flex;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
  #es-rc #es-rc-content .es-easy-mix__description {
    text-align: left;
  }
  #es-rc #es-rc-content .es-easy-mix__left {
    width: 50%;
  }
  #es-rc #es-rc-content .es-easy-mix__right {
    width: 46%;
  }
  #es-rc #es-rc-content .es-comfort {
    padding-bottom: 0;
  }
  #es-rc #es-rc-content .es-comfort__left-title {
    font-size: 29px;
  }
  #es-rc #es-rc-content .es-comfort__container {
    display: flex;
    -moz-column-gap: 50px;
         column-gap: 50px;
    align-items: center;
  }
  #es-rc #es-rc-content .es-comfort__left {
    padding-left: 25px;
    width: 46%;
  }
  #es-rc #es-rc-content .es-comfort__right {
    width: 54%;
  }
  #es-rc #es-rc-content .es-footer {
    min-height: 500px;
    background-position: top;
    margin-top: 50px;
    padding-bottom: 0;
  }
  #es-rc #es-rc-content .es-footer__inner {
    max-width: 100%;
    margin-top: 305px;
    max-width: 100%;
  }
  #es-rc #es-rc-content .es-footer__hashtag {
    padding-top: 0;
    font-size: 32px;
  }
  #es-rc #es-rc-content .es-footer__subtitle {
    max-width: 81%;
    margin: 0 auto;
  }
  #es-rc #es-rc-content .es-style__inner {
    max-width: 67%;
  }
  #es-rc #es-rc-content .es-style__left {
    max-width: revert;
  }
  #es-rc #es-rc-content .es-style__img {
    z-index: 3;
    position: relative;
    min-width: 100%;
    max-width: 100%;
  }
  #es-rc #es-rc-content .es-style__img-title {
    font-size: 35px;
  }
  #es-rc #es-rc-content .es-style__title-img {
    max-width: 70%;
  }
  #es-rc #es-rc-content .es-style__img-description span {
    font-size: 30px;
  }
  #es-rc #es-rc-content .es-style__wrapper {
    right: -39.3%;
  }
  #es-rc #es-rc-content .es-style__img-title-group {
    margin-right: revert;
  }
  #es-rc #es-rc-content .es-style__img-description {
    margin-bottom: 165px;
    margin-left: 0px;
    font-size: 20px;
    max-width: 405px;
  }
  #es-rc #es-rc-content .es-design__new-wrapper {
    top: 35.4%;
    left: 6%;
    width: 34%;
  }
  #es-rc #es-rc-content .es-design__new-title {
    margin-bottom: 55px;
    font-size: 38px;
  }
  #es-rc #es-rc-content .es-design__new-description {
    max-width: 355px;
    font-size: 20px;
  }
  #es-rc #es-rc-content .es-steps__steps__item__text {
    font-size: 18px;
  }
  #es-rc #es-rc-content .es-steps__steps__wrapper {
    -moz-column-gap: 0;
         column-gap: 0;
  }
}
@media screen and (min-width: 1400px) {
  #es-rc #es-rc-content #es-rc #es-rc-content .es-pre-kv__title {
    font-size: 35px;
  }
}/*# sourceMappingURL=styles.css.map */