@charset "UTF-8";

@font-face {
  font-family: "HurmeGeometricSans3";
  src: local("HurmeGeometricSans3"),
    url("../fonts/HurmeGeometricSans3-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "HurmeGeometricSans3";
  src: local("HurmeGeometricSans3"),
    url("../fonts/HurmeGeometricSans3-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "HurmeGeometricSans3";
  src: local("HurmeGeometricSans3"),
    url("../fonts/HurmeGeometricSans3-Black.woff") format("woff");
  font-weight: 900;
}

@font-face {
  font-family: "HurmeGeometricSans3";
  src: local("HurmeGeometricSans3"),
    url("../fonts/HurmeGeometricSans3-Light.woff2") format("woff2");
  font-weight: 300;
}

// set up variables
$font-regular: "HurmeGeometricSans3", sans-serif;

$fs-base: 20px;
$fs-header: 32px;

$px-S: 8px;
$px-M: 16px;
$px-L: 24px;
$px-XL: 32px;
$px-XXL: 48px;
$px-XXXL: 64px;

$color-main: #012349;
$color-bg: #faf8f8;
$color-white: #ffffff;
$color-dark-bg: #002349;
$color-yellow: #feea94;
$color-light-bg: #7FBFF5;
$color-accent: #005bab;

$media-breakpoint-sm: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 992px;
$media-breakpoint-xl: 1200px;

#es-rc #es-rc-content {
  font-family: $font-regular;
  font-weight: 400;
  font-size: $fs-base;
  line-height: 1.2;
  color: $color-main;
  background-color: $color-bg;
  max-width: 990px;
  margin: auto;
  container: es-rc-content / inline-size;
  overflow: hidden;
  font-variant-ligatures: none;

  ::-moz-selection {
    background-color: $color-main;
    color: $color-bg;
  }

  ::selection {
    background-color: $color-main;
    color: $color-bg;
  }

  // minimal css reset

  * {
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  button {
    display: block;
  }

  .es-section {
    padding: $px-XL;
  }

  .es-tm {
    display: inline-block;
    font-size: 15px;
    vertical-align: top;
    margin-top: 5px;
  }

  .es-tm-headline {
    display: inline-block;
    font-size: 18px;
    vertical-align: top;
    margin-top: 5px;

    @container es-rc-content (min-width: 800px) {
      font-size: 32px;
    }
  }

  .es-section-title {
    font-weight: 700;
    font-size: $fs-header;
    text-align: center;
    margin-block: $px-M;
    text-transform: uppercase;

    @container es-rc-content (min-width: 660px) {
      font-size: $fs-header * 1.5;
    }
  }

  .es-desktop {
    position: relative;

    @container es-rc-content (min-width: 660px) {
      display: block;
    }
  }

  .es-pre-kv {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #012349;
    padding: 0;
    gap: 30px;

    &__video {
      width: 100%;
      display: block;
      margin: 0 auto;
    }

    &__right {
      padding-bottom: 30px;
    }

    &__title {
      text-align: center;
      font-weight: 700;
      color: #ffffff;
    }
  }

  .es-kv {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    gap: $px-L;
    background-color: $color-bg;
    padding: 0;
    overflow: hidden;
    position: relative;

    &__top {
      padding: 32px;
    }

    &__logo {
      max-width: 300px;
      margin-bottom: 10px;
    }

    &__title {
      text-align: center;

      &--headline {
        margin-bottom: 10px;
        margin-top: 25px;
        font-weight: 700;
        font-size: 30px;

        & span {
          display: block;
          color: #f6c641;
        }
      }

      &--bottomline {
        margin-bottom: 25px;
        font-weight: 700;
        font-size: 16px;
      }

      &-circle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        margin: 0 auto;
        color: #012349;
        background: $color-yellow;
        font-size: 16px;
        font-weight: 700;
        border-radius: 50%;
        width: 180px;
        height: 180px;
        text-align: center;

        & span {
          font-size: 35px;
          font-weight: 700;
        }

        &--desktop {
          display: none;
        }
      }
    }

    &__description-title {
      margin-bottom: 15px;
      font-weight: 700;
      text-align: center;
      font-size: 25px;
    }

    &__packshot {
      position: relative;

      &__img {
        max-width: 400px;

        &--desktop {
          display: none;
        }
      }
    }

    &__description {

      -webkit-margin-before: 30px;

      margin-block-start: 30px;
      -webkit-margin-after: 30px;
      margin-block-end: 30px;

      &__text {
        display: block;
        max-width: 85%;
        margin: 0 auto;
        font-size: 16px;
        text-align: center;
      }
    }


    @container es-rc-content (min-width: 440px) {
      &__title {

        &--bottomline {
          font-size: 18px;
        }
      }
    }

    @container es-rc-content (min-width: 550px) {
      &__title {
        &--headline {
          font-size: 45px;
        }

        &--bottomline {
          font-size: 18px;
        }
      }

      &__description {
        &__text {
          font-size: 18px;
          text-align: center;
        }
      }
    }

    @container es-rc-content (min-width: 660px) {
      -webkit-box-pack: justify;
      justify-content: space-between;
      padding: 40px 0px;
      padding-bottom: 0;
      overflow: hidden;
    }

    @container es-rc-content (min-width: 768px) {
      &__top {
        padding-bottom: 70px;
      }

      &__packshot {
        position: relative;

        &__img {
          max-height: 600px;
        }
      }

    }

    @container es-rc-content (min-width: 880px) {
      &__logo {
        max-width: 250px;
        margin-bottom: $px-M;
      }

      &__title {

        &--headline {
          margin-bottom: 10px;
        }

        &--bottomline {
          font-size: 18px;
        }
      }

      &__packshot {
        margin-right: 0;

        &__img {
          max-height: 650px;
        }
      }

      &__description {

        &__text {
          max-width: 93%;
          font-size: 20px;
          text-align: center;
        }
      }
    }
  }

  .es-design {
    padding: 30px 15px;
    padding-bottom: 0;
    background: $color-bg;
    position: relative;
    z-index: 0;

    &__title {
      margin-bottom: 15px;
      font-size: 25px;
      font-weight: 700;
      text-align: center;
    }

    &__subtitle {
      display: block;
      margin: 0 auto;
      margin-bottom: 25px;
      text-align: center;
      font-size: 16px;
    }

    &__container {
      margin-top: -1px;
      background: $color-bg;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      gap: 30px;

      &--desktop {
        display: none;
      }
    }

    &__single {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: start;
      justify-content: flex-start;
      gap: 10px;
      max-width: 300px;
    }

    &__single-img {
      max-width: 125px;
      width: auto;
    }

    &__single-subtitle {
      font-weight: 700;
      text-align: center;
      font-size: 16px;
    }

    &__description-img {
      margin-bottom: 25px;

      &--desktop {
        display: none;
      }
    }

    &__new {
      padding-top: 50px;
    }

    &__new-title {
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
    }

    &__new-description {
      margin-bottom: 25px;
      font-size: 16px;
      text-align: center;
    }
  }

  .es-slider {


    // swiper styles reset START
    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after,
    .swiper-button-next:after,
    .swiper-rtl .swiper-button-next:after {
      content: "";
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: unset;
      height: unset;
      position: static;
      -webkit-box-pack: unset;
      justify-content: unset;
      display: unset;
    }

    // swiper styles reset END
    margin-block: $px-XL;
    margin-bottom: 0;
    margin-top: 0;

    /* wrapper ze slajdami */
    .es-swiper {
      position: relative;
      width: 100%;
    }

    .es-swiper-wrapper {
      display: -webkit-box;
      display: flex;
      -webkit-transition: -webkit-transform 0.5s ease;
      transition: -webkit-transform 0.5s ease;
      transition: transform 0.5s ease;
      transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    }

    /* slajdy */
    &__slide {
      -webkit-box-flex: 0;
      flex: 0 0 100%;
      box-sizing: border-box;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      gap: $px-L;
      padding: $px-XL;

      &--1 {
        color: $color-main;
        z-index: 0;
      }
    }

    @container es-rc-content (min-width: 660px) {
      &__slide {
        gap: 35px;
        font-size: 24px;
      }
    }
  }

  .es-steps {
    text-align: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    gap: $px-XL;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, $color-bg), color-stop(35%, $color-main));
    background: linear-gradient(180deg, $color-bg 35%, $color-main 35%);

    &__title {
      font-weight: 700;
      font-size: 25px;
      text-align: center;
      color: $color-main;
      background-color: $color-bg;

    }

    &__steps__item__text {
      font-weight: 600;
      font-size: 16px;
      text-align: center;

    }

    &__steps {
      &__container {

        ::-moz-selection {
          color: $color-main;
        }

        ::selection {
          color: $color-main;
        }
      }

      &__title {
        font-weight: 900;
        font-size: 32px;
      }

      &__wrapper {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        gap: $px-L;
        -webkit-box-align: center;
        align-items: center;
      }

      &__item {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        gap: $px-S;
        max-width: 200px;


        &__image {
          margin-bottom: 30px;
          max-width: 225px;
        }
      }

    }

    @container es-rc-content (min-width: 660px) {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, $color-bg), color-stop(50%, $color-main));
      background: linear-gradient(180deg, $color-bg 50%, $color-main 50%);

      &__steps {
        &__title {
          font-size: 34px;
        }

        &__wrapper {
          margin-bottom: 30px;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          flex-direction: row;
          -webkit-box-align: start;
          align-items: start;
          -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
          -webkit-column-gap: 40px;
          -moz-column-gap: 40px;
          column-gap: 40px;
        }

        &__item {
          max-width: 150px;
        }
      }
    }
  }

  .es-easy-mix {
    padding: 0px 15px;

    &__title {
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
    }

    &__img {
      margin-bottom: 15px;
    }

    &__description {
      font-size: 16px;
      text-align: left;
    }
  }

  .es-comfort {
    padding: 30px 15px;

    &__left {
      margin-bottom: 25px;
    }

    &__left-title {
      margin-bottom: 35px;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
    }

    &__left-description {
      font-size: 16px;
    }

  }

  .es-style {
    &__img {
      max-width: 60%;
      margin-left: 10px;
    }

    &__left {
      max-width: 310px;
      margin: 0 auto;
    }

    &__inner {
      max-width: 350px;
      margin: 0 auto;
      position: relative;
      margin-bottom: 20px;
    }

    &__wrapper {
      position: absolute;
      top: -20px;
      right: -106px;
    }

    &__img-title-group {
      position: relative;
    }

    &__title-img {
      margin-bottom: 25px;
      max-width: 30%;
    }

    &__img-title {
      position: absolute;
      top: 55%;
      left: 52%;
      transform: translate(-44%, -43%);
      color: #002349;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      z-index: 1;
    }

    &__img-description {
      max-width: 85%;
      margin: 0 auto;
      margin-bottom: 25px;
      font-size: 16px;
      text-align: center;

      & span {
        display: block;
        font-weight: 700;
        font-size: 25px;

      }
    }

  }

  .es-eco {
    padding: 30px 15px;

    &__bottom-title {
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
    }

    &__subtitle {
      font-size: 16px;
      text-align: center;
    }
  }

  .es-cross {
    &__container {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
    }

    &__single {
      padding: 20px;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      gap: 20px;

      &--1 {
        color: $color-white;
        background-color: $color-dark-bg;
      }

      &--2 {
        background-color: #F6C641;
      }

      &--3 {
        color: $color-white;
        background-color: #E25D5F;
      }
    }

    &__single-title {
      font-weight: 700;
      font-size: 16px;
      text-align: center;

      &--blue {
        color: $color-dark-bg;
      }
    }

    &__single-description {
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      line-height: 1.5;

      &--blue {
        color: $color-dark-bg;
      }
    }

    &__img {
      max-width: 50%;
      margin-bottom: 30px;
      width: auto;
    }
  }

  .es-footer {
    position: relative;
    overflow: hidden;
    padding: 30px 15px;

    background-position: center;
    min-height: 400px;

    &__hashtag {
      margin-bottom: 30px;
    }

    .es-section-title {
      margin-bottom: 20px;
      text-transform: none;
    }



    &__hashtag {
      padding-top: 20px;
      margin-top: 0;
      font-size: 20px;
      color: $color-white;
      position: relative;
      z-index: 3;

      &--last {
        text-transform: none;
      }
    }

    &__subtitle {
      font-size: 16px;
      color: $color-white;
      font-weight: 400;
      position: relative;
      z-index: 3;
    }

    &__inner {
      margin-top: -50px;

      &::before {
        content: '';
        position: absolute;
        width: 140%;
        height: 400px;
        background-color: $color-dark-bg;
        border-radius: 50%;
        bottom: -30%;
        left: 50%;
        transform: translateX(-50%);
      }

    }

    &__logo-wrapper {
      background-color: $color-dark-bg;
      padding-bottom: 10px;
    }
  }

  @media screen and (min-width: 550px) {
    .es-style {

      &__img {
        max-width: 80%;
      }

      &__wrapper {
        right: -155px;
      }
    }
  }

  @media screen and (min-width: 600px) {
    .es-footer {
      &__inner {
        &::before {
          bottom: -25%;
        }
      }
    }
  }

  @media screen and (min-width: 676px) {

    .es-footer {
      &__inner {
        &::before {
          bottom: -25%;
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    .es-kv {
      padding-bottom: 100px;

      &__top {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        justify-content: space-between;
        width: 100%;
        padding-left: 40px;
        padding-top: 0;
        padding-bottom: 70px;
      }

      &__logo {
        margin: 0;
        max-width: 215px;
        margin-bottom: 10px;
      }

      &__title {
        text-align: left;
        margin-top: 20px;
      }

      .es-desktop {
        width: 100%;
      }

      &__description {
        margin-block: 30px;
        -webkit-margin-before: $px-L;
        margin-block-start: $px-L;
        width: 100%;

        &__text {
          text-align: center;
        }
      }

      &__packshot {
        -webkit-box-align: end;
        align-items: end;
        position: relative;
        margin: 0 auto;
        margin-right: 0;

        &__img {
          margin: 0;
          max-height: 520px;
          position: relative;
          z-index: 1;

        }
      }

      &__title-circle {
        &--mobile {
          display: none;
        }
      }

      &__packshot {
        position: absolute;
        top: -160px;
        right: -30.5%;
      }

      &__title-circle--desktop {
        display: block;
        position: absolute;
        padding-top: 30px;
        bottom: -9%;
        left: -11%;
        z-index: 3;
        width: 160px;
        height: 160px;
        font-size: 15px;
      }

      &__packshot__img {
        max-width: revert;
        max-height: 550px;

        &--mobile {
          display: none;
        }

        &--desktop {
          display: block;
        }
      }
    }

    .es-pre-kv {

      flex-direction: row;

      &__left {
        width: 50%;
      }

      &__title {
        font-size: 30px;
        padding-top: 25px;
        padding-left: 35px;
        text-align: left;
      }
    }

    .es-kv {
      padding-bottom: 150px;

      &__packshot {
        position: absolute;
        top: -190px;
        right: -30.5%;
      }

      &__title-circle {
        position: absolute;
        bottom: -2.4%;
        right: 82.3%;
        z-index: 3;
      }

      &__packshot__img {
        max-width: revert;
        max-height: 675px;

        &--mobile {
          display: none;
        }

        &--desktop {
          display: block;
        }
      }
    }

    .es-design {
      background-color: $color-bg;
      padding-right: 0;
      padding-left: 0;

      &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        position: relative;
        max-width: 750px;
        margin: 0 auto;
      }

      &__title,
      &__subtitle {
        padding-right: 15px;
        padding-left: 15px;
      }

      &__subtitle {
        max-width: 92%;
      }

      &__container {
        display: none;
      }

      &__description-img {
        &--mobile {
          display: none;
        }

        &--desktop {
          display: block;
        }
      }

      &__single-subtitle {
        font-size: 14px;
        text-align: right;
        position: absolute;

        &--1 {
          top: 16%;
          left: 10%;
        }

        &--2 {
          top: 26%;
          right: 3%;
          text-align: left;
        }

        &--3 {
          top: 46%;
          left: 9%;
        }

        &--4 {
          top: 64%;
          right: -1%;
          text-align: left;
        }

        &--5 {
          top: 76%;
          left: 12%;
        }
      }

      &__description-img {
        order: 2;
        width: 470px;
      }

      &__single {
        flex-direction: row;
      }

      &__single-img {
        order: 2;
      }

      &__container {
        margin-top: 20px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: column;
        justify-content: space-around;

        &--desktop {
          display: flex;
          margin-top: -40px;
          row-gap: 60px;
        }
      }

      &__single {
        max-width: 230px;
      }

      &__new {
        position: relative;

        &-wrapper {
          position: absolute;
          top: 40%;
          left: 5%;
          transform: translate(-5%, -0%);
          width: 38%;
        }

        &-title {
          text-align: left;
        }

        &-description {
          text-align: left;
        }
      }
    }



    .es-style {
      &__left {
        display: flex;
        flex-flow: row;
        max-width: 750px;
        margin-left: 0;
      }

      &__inner {
        max-width: 67%;
        margin-left: -125px;
      }

      &__img {
        max-width: 516px;
        z-index: 3;
        position: relative;
      }

      &__img-description {
        max-width: 300px;
        margin-left: -25px;
        margin-bottom: 75px;
        align-self: flex-end;
        text-align: left;
      }

      &__title-img {
        max-width: 60%;
      }

      &__wrapper {
        top: 10%;
        right: -51.5%;
      }

      &__img-title-group {
        margin-right: revert;
        margin-top: -25px;
      }

      &__img-title {
        font-size: 28px;
      }
    }

    .es-eco {
      padding-top: 0;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 15px;

      &__bottom-title {
        font-weight: 700;
        font-size: 20px;
        text-align: center;
      }
    }

    .es-slider {
      position: relative;
      z-index: 0;

      &__slide--1 {
        position: relative;
      }
    }

    .es-cross {
      &__container {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-pack: center;
        justify-content: center;
        align-items: unset;
        gap: 0;
      }

      &__single-title {
        min-height: 45px;
      }

      &__single-description {
        min-height: 175px;
      }

      &__single {
        max-width: 33.3%;
        padding-top: 40px;
        padding-bottom: 35px;
        row-gap: 5px;
      }
    }

    .es-steps {
      &__steps__item__text {
        font-size: 16px;
      }

      &__steps__item {
        max-width: 200px;
      }
    }

    .es-footer {
      background-image: url('../img/bottles-d.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-color: $color-bg;
      min-height: 575px;
      margin-top: 50px;

      &__inner {
        margin-top: 315px;
        max-width: 85%;
        margin-left: auto;
        margin-right: auto;

        &::before {
          display: none;
        }
      }

      &__bottles {
        display: none;
      }
    }
  }

  @media screen and (min-width: 800px) {
    .es-kv {
      padding-bottom: 100px;

      &__title {
        &--headline {
          margin-bottom: 50px;
          font-size: 50px;
        }

        &--bottomline {
          font-size: 20px;
        }
      }

      &__packshot {
        right: -23.5%;
      }

      &__title-circle {
        bottom: -3%;
        right: revert;
        left: -8%;
        right: auto;
      }
    }

    .es-design {
      &__container {
        &--desktop {
          row-gap: 88px;
        }
      }
    }
  }

  @media screen and (min-width: 998px) {
    .es-kv {
      position: relative;
      padding-bottom: 100px;

      &__title {
        &--headline {
          margin-bottom: 50px;
          font-size: 60px;
        }

        &--bottomline {
          font-size: 25px;
        }
      }


      &__logo {
        max-width: 290px;
      }

      &__title-circle {
        bottom: -1%;
        left: -7%;
        right: auto;
        z-index: 5;
      }

      &__packshot {
        position: absolute;
        top: -160px;
        right: -14.5%;
      }


      &__packshot__img {
        max-height: 730px;

        &--mobile {
          display: none;
        }

        &--desktop {
          display: block;
        }
      }


      &__title {
        text-align: left;
        margin-top: 10px;
        max-width: 400px;
      }
    }

    .es-cross {
      &__single-description {
        min-height: 165px;
      }

      &__single-title {
        min-height: 35px;
      }
    }

    .es-design {

      &__description-img {
        width: 595px;
      }

      &__container {
        &--desktop {
          row-gap: 100px;
        }
      }

      &__single-subtitle {
        font-size: 19px;
        font-weight: 700;

        &--1 {
          max-width: 230px;
          left: -3.3%;
          top: 15.6%;
        }

        &--2 {
          max-width: 230px;
          right: -9.6%;
        }

        &--3 {
          max-width: 255px;
          top: 45.9%;
          left: -0.7%;
        }

        &--4 {
          top: 64.1%;
          right: -14.8%;
          max-width: 255px;
        }

        &--5 {
          top: 76.9%;
          left: 1.2%;
        }

      }
    }

    .es-kv__description-title,
    .es-design__title,
    .es-steps__title,
    .es-eco__bottom-title,
    .es-footer__hashtag {
      font-size: 28px;
    }

    .es-eco {
      &__subtitle {
        margin-bottom: 30px;
      }
    }

    .es-steps {
      &__steps__item {
        max-width: 285px;
      }
    }

    .es-easy-mix {

      &__title {
        font-size: 29px;
      }

      &__container {
        display: flex;
        column-gap: 50px;
      }

      &__description {
        text-align: left;
      }

      &__left {
        width: 50%;
      }

      &__right {
        width: 46%;
      }
    }

    .es-comfort {
      padding-bottom: 0;

      &__left-title {
        font-size: 29px;
      }

      &__container {
        display: flex;
        column-gap: 50px;
        align-items: center;
      }


      &__left {
        padding-left: 25px;
        width: 46%;
      }

      &__right {
        width: 54%;
      }
    }



    .es-footer {
      min-height: 500px;
      background-position: top;
      margin-top: 50px;
      padding-bottom: 0;

      &__inner {
        max-width: 100%;
        margin-top: 305px;
        max-width: 100%;
      }

      &__hashtag {
        padding-top: 0;
        font-size: 32px;
      }

      &__subtitle {
        max-width: 81%;
        margin: 0 auto;
      }
    }

    .es-style {
      &__inner {
        max-width: 67%;
      }

      &__left {
        max-width: revert;
      }

      &__img {
        z-index: 3;
        position: relative;
        min-width: 100%;
        max-width: 100%;
      }

      &__img-title {
        font-size: 35px;
      }

      &__title-img {
        max-width: 70%;
      }

      &__img-description span {
        font-size: 30px;
      }

      &__wrapper {
        right: -39.3%;
      }

      &__img-title-group {
        margin-right: revert;
      }

      &__img-description {
        margin-bottom: 165px;
        margin-left: 0px;
        font-size: 20px;
        max-width: 405px;
      }
    }

    .es-design__new {

      &-wrapper {
        top: 35.4%;
        left: 6%;
        width: 34%;
      }

      &-title {
        margin-bottom: 55px;
        font-size: 38px;
      }

      &-description {
        max-width: 355px;
        font-size: 20px;
      }
    }

    .es-steps {
      &__steps__item__text {
        font-size: 18px;
      }

      &__steps {

        &__wrapper {
          column-gap: 0;
        }
      }
    }
  }

  @media screen and (min-width: 1400px) {
    #es-rc #es-rc-content .es-pre-kv__title {
      font-size: 35px;
    }
  }
}